html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #5229038e;
}

* {
    margin:  auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #5229038e;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(255, 1, 1);
}